/* Reset dasar */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f3f3f3;
    color: #333;
    line-height: 1.6;
}

header {
    background-color: #4caf50;
    color: white;
    padding: 20px;
    text-align: center;
}

nav {
    margin-top: 10px;
}

nav a {
    margin: 0 10px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
    text-align: center;
}

.featured-image {
    max-width: 300px;
    height: auto;
    display: block;
    margin: 20px auto;
}

.gif-center {
    text-align: center;
    margin: 20px 0;
}



.social {
    margin: 20px 0;
}

.social-links a {
    margin: 0 15px;
    font-size: 24px;
    text-decoration: none;
    color: #4caf50;
    transition: transform 0.2s;
}

.social-links a:hover {
    transform: scale(1.2);
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 30px;
}
